.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  /* Add any other styling you need for the header */
}

.logo-container {
  flex: 1; /* Ensures the company logo takes up available space on the left */
}

.email-logo-container {
  flex: 0; /* Keeps the email logo fixed on the right */
}

.company-logo {
  max-width: 50px; /* Adjust size as needed */
  height: auto;
}

.email-logo {
  max-width: auto; /* Adjust size as needed */
  height: 20px;
}
